.slide-1 {
    background-color: #FEDBBF;
    .item-image {
        width: 18rem;
        height: 18rem;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 4rem;
        left: 0;
        right: 0;
        margin: auto;
        background-image: url('../images/test1.png');
    }
    .item-text1 {
        width: 18rem;
        color: 	#2F4F4F;
        font-size: 1.2rem;
        font-weight: bold;
        position: absolute;
        top: 24rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
    }
    .item-text2 {
        width: 18rem;
        color: #2F4F4F;
        font-size: 1.2rem;
        font-weight: bold;
        position: absolute;
        top: 30rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
    }
}
